.field-group {
  margin-bottom: 15px;
}
.field .field-title {
  font-weight: 700;
}
.flex-user-profile .field {
  margin-bottom: 10px;
}
.field--label-inline .field-title,
.field--label-inline .field {
  float: left; /*LTR*/
}
.field--label-inline .field-title,
.field--label-inline > .field__item,
.field--label-inline .field {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field-title,
[dir="rtl"] .field--label-inline .field {
  padding-left: 0.5em;
  padding-right: 0;
}
.field--label-inline .field-title::after {
  content: ':';
}
