fieldset {
  padding: 15px;
  border: 1px solid var(--style_gray_400);
}
label,
fieldset legend {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 4px;
  display: inline-block;
}
form .form-item {
  margin-bottom: 15px;
}
form .form-item .form-type-checkbox,
form .form-item .form-type-radio,
form .form-item .form-item:last-child {
  margin-bottom: 0;
}
.form-item .description {
  font-size: 12px;
}
form .container-inline {
  margin-bottom: 0;
}
form .container-inline > .form-item {
  display: inline-block;
}
.form-inline .form-item {
  display: inline-block;
  vertical-align: middle;
}
.form-inline .form-item:not(:last-child) {
  margin-right: 10px;
}
.form-inline .form-item > * {
  width: auto;
  vertical-align: middle;
}
label.form-required::after {
  content: "*";
  color: var(--style_red_700);
  margin-left: 4px;
  display: inline-block;
}
input:not([type="file" i],
[type="image" i],
[type="checkbox" i],
[type="radio" i],
[type="submit" i]),
select {
  width: 100%;
  height: 34px;
  padding: 5px 10px;
  background: var(--white);
  border: 1px solid var(--style_gray_400);
}
textarea {
  width: 100%;
  border: 1px solid var(--style_gray_400);
}
form[class*="search-block-"] {
  display: flex;
  flex-direction: row;
}
form.form[class*="search-block-"] .form-item {
  margin-bottom: 0;
}
.search-block-form .form-item [type="search"] {
  width: 200px;
  margin-right: -1px;
}
.flex-sidebar form.form[class*="search-block-"] > .form-type-search,
.flex-sidebar form.form[class*="search-block-"] > .form-type-search [type="search"] {
  width: 100%;
}
.user-pass p,
.user-login-form + .item-list {
  display: none;
}
.user-login-form .form-item.form-type-password {
  margin-bottom: 5px;
}
@media screen and (max-width: 992px) {
  form.form[class*="search-block-"] .form-item.form-type-search {
    width: 100%;
  }
  .search-block-form .form-item [type="search"] {
    width: 100%;
  }
}
.field--label-inline {
  display: flex;
  gap: 0 10px;
}
.field--label-inline .field-title {
  font-weight: 500;
}
