ul.menu.primary-menu li .menu-link {
  cursor: pointer;
  display: block;
}
ul.menu.primary-menu.menu-level-1 > li > .menu-link {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}
.header-style-3 ul.menu.primary-menu.menu-level-1 > li {
  display: block;
}
.header-style-3 ul.menu.primary-menu.menu-level-1 > li > .menu-link {
  padding: 7px 0;
}
.header-style-1 ul.menu.primary-menu.menu-level-1 > li:last-child .menu-link {
  padding-right: 0;
}
ul.menu.primary-menu li ul.submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
.header-style-3 ul.menu.primary-menu {
  overflow: auto;
  max-height: calc(100vh - 160px);
}
.header-style-3 ul.menu.primary-menu li ul.submenu,
.header-style-3 ul.menu.primary-menu li ul.submenu > li:hover > ul.submenu {
  position: relative;
  visibility: visible;
  width: 100%;
  left: 0;
  opacity: 1;
}
.header-style-3 ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu > li:hover > ul.submenu {
  right: 0;
}
ul.menu.primary-menu > li:hover > ul.submenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
ul.menu.primary-menu li ul.submenu > li {
  display: block;
  border-bottom: 1px solid var(--style_blue_700);
}
ul.menu.primary-menu li ul.submenu li .menu-link {
  padding: 12px 15px;
}
ul.menu.primary-menu li ul.submenu > li:hover > ul.submenu {
  top: 0;
  left: 100%;
  opacity: 1;
  visibility: visible;
}
ul.menu.primary-menu li:nth-last-child(-n+2) ul.submenu {
  right: 0;
  left: auto;
}
.header-style-2 ul.menu.primary-menu li:nth-last-child(-n+2) ul.submenu {
  left: 0;
}
ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu li ul.submenu {
  right: 0;
}
ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu > li:hover > ul.submenu {
  left: auto;
  right: 100%;
}
.header-style-2 ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu > li:hover > ul.submenu {
  right: auto;
  left: 100%;
}


@media screen and (max-width: 1200px) {
  ul.menu.primary-menu.menu-level-1 > li > .menu-link {
    font-size: 18px;
    padding: 10px;
  }
  ul.menu.primary-menu li ul.submenu {
    width: 220px;
  }
}
@media screen and (max-width: 992px) {
  ul.menu.primary-menu li {
    display: block;
  }
  ul.menu.primary-menu li ul.submenu {
    position: relative;
    left: 0;
    opacity: 1;
    width: 100%;
    visibility: visible;
    box-shadow: none;
  }
  ul.menu.primary-menu > li:hover > ul.submenu {
    width: 100%;
    top: 0;
  }
  ul.menu.primary-menu li ul.submenu > li {
    border: none;
  }
  ul.menu.primary-menu li ul.submenu li .menu-link {
    padding: 8px;
  }
  ul.menu.primary-menu li ul.submenu.menu-level-2 li .menu-link {
    padding-left: 20px;
  }
  ul.menu.primary-menu li ul.submenu.menu-level-2 li .menu-link::before {
    content: ">";
    font-size: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  ul.menu.primary-menu li ul.submenu.menu-level-3 li .menu-link {
    padding-left: 40px;
  }
  ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu > li:hover > ul.submenu,
  .header-style-2 ul.menu.primary-menu li:nth-last-child(-n+3) ul.submenu > li:hover > ul.submenu {
    left: 0;
  }
  .header-style-1 ul.menu.primary-menu.menu-level-1 > li:last-child .menu-link {
    padding-right: 10px;
  }
  .header-style-3 ul.menu.primary-menu {
    max-height: 100%;
    overflow: inherit;
  }
}
