.pager ul.pager-items {
  display: flex;
  justify-content: center;
  gap: 0 4px;
}
.pager ul.pager-items li {
  color: var(--primary);
}
.pager .pager-items li > * {
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--style_gray_200);
}
.pager .pager-items li > *:hover,
.pager .pager-items li.is-active > * {
  color: var(--white);
  background-color: var(--primary);
}
