{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}

<div class="flex-maintainence-page">
  <header class="m-top-5 m-bottom-5 text-center" role="banner">
    <div class="container">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" class="flex-site-logo" rel="home">
          <img src="{{ logo }}" class="site-logo" alt="{{ 'Home'|t }}"/>
        </a>
      {% else %}
        {% if site_name or site_slogan %}
          {% if site_name %}
            <h1 class="site-name">
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h1>
          {% endif %}

          {% if site_slogan %}
            <div class="site-slogan">{{ site_slogan }}</div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </header>

  <main role="main" class="flex-main" role="main">
    <div class="container">
      <div class="fs-row">
        <div class="fs-col-4 text-right">
          {% if icons == 'fontawesome' %}
            <i class="fa-10x fa-gear fa-solid fa-spin"></i>
          {% elseif icons == 'google-material' %}
            <span class="material-icons v-align-middle md-100">warning</span>
          {% endif %}
        </div>
        {% if icons != 'none' %}
          {% set colClass = 'fs-col-8' %}
        {% else %}
          {% set colClass = 'fs-col-12 text-center' %}
        {% endif %}
        <div class="{{colClass}}">
          {% if title %}
            <h1 class="display-1">{{ title }}</h1>
          {% endif %}
          <h2 class="display-2 text-primary">We'll Be Right Back Soon!</h2>
          {{ page.highlighted }}
          {{ page.content }}
        </div>
      </div>
    </div>
  </main>
</div>
