/* Margin */
.m-auto {
  margin: 0 auto;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}
.m-5 {
  margin: 30px;
}

/* Margin Horizontally */
.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}
.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-5 {
  margin-left: 30px;
  margin-right: 30px;
}

/* Padding Vertically */
.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Margin Left */
.m-left-0 {
  margin-left: 0;
}
.m-left-1 {
  margin-left: 5px;
}
.m-left-2 {
  margin-left: 10px;
}
.m-left-3 {
  margin-left: 15px;
}
.m-left-4 {
  margin-left: 20px;
}
.m-left-5 {
  margin-left: 30px;
}

/* Margin Right */
.m-right-0 {
  margin-right: 0;
}
.m-right-1 {
  margin-right: 5px;
}
.m-right-2 {
  margin-right: 10px;
}
.m-right-3 {
  margin-right: 15px;
}
.m-right-4 {
  margin-right: 20px;
}
.m-right-5 {
  margin-right: 30px;
}

/* Margin Top */
.m-top-0 {
  margin-top: 0;
}
.m-top-1 {
  margin-top: 5px;
}
.m-top-2 {
  margin-top: 10px;
}
.m-top-3 {
  margin-top: 15px;
}
.m-top-4 {
  margin-top: 20px;
}
.m-top-5 {
  margin-top: 30px;
}

/* Margin Bottom */
.m-bottom-0 {
  margin-bottom: 0;
}
.m-bottom-1 {
  margin-bottom: 5px;
}
.m-bottom-2 {
  margin-bottom: 10px;
}
.m-bottom-3 {
  margin-bottom: 15px;
}
.m-bottom-4 {
  margin-bottom: 20px;
}
.m-bottom-5 {
  margin-bottom: 30px;
}
