/* Padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 15px;
}
.p-4 {
  padding: 20px;
}
.p-5 {
  padding: 30px;
}

/* Padding Horizontally */
.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-5 {
  padding-left: 30px;
  padding-right: 30px;
}

/* Padding Vertically */
.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Padding Left */
.p-left-0 {
  padding-left: 0;
}
.p-left-1 {
  padding-left: 5px;
}
.p-left-2 {
  padding-left: 10px;
}
.p-left-3 {
  padding-left: 15px;
}
.p-left-4 {
  padding-left: 20px;
}
.p-left-5 {
  padding-left: 30px;
}

/* Padding Right */
.p-right-0 {
  padding-right: 0;
}
.p-right-1 {
  padding-right: 5px;
}
.p-right-2 {
  padding-right: 10px;
}
.p-right-3 {
  padding-right: 15px;
}
.p-right-4 {
  padding-right: 20px;
}
.p-right-5 {
  padding-right: 30px;
}

/* Padding Top */
.p-top-0 {
  padding-top: 0;
}
.p-top-1 {
  padding-top: 5px;
}
.p-top-2 {
  padding-top: 10px;
}
.p-top-3 {
  padding-top: 15px;
}
.p-top-4 {
  padding-top: 20px;
}
.p-top-5 {
  padding-top: 30px;
}

/* Padding Bottom */
.p-bottom-0 {
  padding-bottom: 0;
}
.p-bottom-1 {
  padding-bottom: 5px;
}
.p-bottom-2 {
  padding-bottom: 10px;
}
.p-bottom-3 {
  padding-bottom: 15px;
}
.p-bottom-4 {
  padding-bottom: 20px;
}
.p-bottom-5 {
  padding-bottom: 30px;
}
