{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="breadcrumbs" role="menu">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item" role="menuitem">
          <a href="{{ item.url }}" role="link">{{ item.text }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item active" role="menuitem">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
{% endif %}
