{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'page-frontpage' : 'page-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    not page.sidebar_first and not page.sidebar_second ? 'no-sidebars',
    page.sidebar_first ? 'sidebar-first',
    page.sidebar_second ? 'sidebar-second',
    page.sidebar_first and page.sidebar_second ? 'both-sidebars',
    user.hasPermission('administer')  ? 'admin',
    user.getRoles()|join(' role_'),
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/{{ active_theme_path() }}/images/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/{{ active_theme_path() }}/images/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/{{ active_theme_path() }}/images/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ active_theme_path() }}/images/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ active_theme_path() }}/images/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ active_theme_path() }}/images/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ active_theme_path() }}/images/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ active_theme_path() }}/images/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ active_theme_path() }}/images/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/{{ active_theme_path() }}/images/icons/android-icon-192x192.png" />
    <link rel="manifest" href="/{{ active_theme_path() }}/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#066db2" />
    <meta name="msapplication-TileImage" content="/{{ active_theme_path() }}/images/icons/ms-icon-144x144.png" />
    <css-placeholder token="{{ placeholder_token }}">
    <style> {{ global_style }} </style>
    <js-placeholder token="{{ placeholder_token }}">
    <script src="/{{ active_theme_path() }}/sw.js"></script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
